@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins Black";
    src: url('../assets/fonts/Poppins-Black.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Poppins Bold";
    src: url('../assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: "Poppins Medium";
    src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: "Poppins Regular";
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

.font-poppins_regular {
    /* font-size: 2rem; */
}



.container {
   width: clamp(30rem, 66.667vw + 17.5rem, 107.5rem);
}