@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins Black";
    src: url('../assets/fonts/Poppins-Black.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Poppins Bold";
    src: url('../assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: "Poppins Medium";
    src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: "Poppins Regular";
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

.font-poppins_regular {
    /* font-size: 2rem; */
}



.container {
   width: clamp(30rem, 66.667vw + 17.5rem, 107.5rem);
}

.padding_custom_rotated_text {
    padding-left: 120px;
    padding-top: 78px;
}

.custom_lets  span {
    position: absolute;
    z-index: 2;
    font-size: 6rem;
    top: 64px;
    left: 119px;

}

.custom_lets::before {
    background-color: white;
    padding: 1rem 2rem;
    display: inline-block;
    content: '';
    width: 466px;
    height: 112px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    transform: rotate(-2deg);
    top: 68px;
    left: 82px;


}