@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins ExtraBold";
    src: url('../assets/fonts/Poppins-ExtraBold.ttf');
    
}

@font-face {
    font-family: "Poppins Bold";
    src: url('../assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: "Poppins Medium";
    src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: "Poppins Regular";
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: "Poppins Light";
    src: url('../assets/fonts/Poppins-Light.ttf');
}


.container {
   width: clamp(30rem, 66.667vw + 17.5rem, 107.5rem);
   
  
}

.top_img {
    background: url('../assets/img/girl.png') no-repeat right bottom #C2C8DA ;
    height: 852px;

}

.custom_lets  span {
    position: relative;
    z-index: 2;
}

.custom_lets::before {
    background-color: white;
    padding: 1rem 2rem;
    display: inline-block;
    content: '';
    width: 466px;
    height: 112px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    transform: rotate(-2deg);
    top: 68px;
    left: 116px;
}

.custom_unique span {
    position: relative;
    z-index: 2;
}

.custom_unique::before{
    background-color: #E6C744;
    padding: 1rem 2rem;
    display: inline-block;
    content: '';
    width: 495px;
    height: 112px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    transform: rotate(-2deg);
    top: 358px;
    left: 126px;
}

.yellow_block {
    height: 186px;
    /* background-color: #EBD96B ; */
}